#website {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.highlighted{
    font-weight: 900;
    font-family: "MonumentGrotesk";
    /* color: #87004d; */
}

#about-area {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  /* margin-bottom: 8%; */
}
.section {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 4%;
}
#link{
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dotted #000;
}
#link:hover{
  color: #8a8a8a;
  font-weight: 800;
}
#name:hover {
  filter: drop-shadow(3px 3px 3px #54b3d6);
  color: rgb(78, 120, 165);
}
#main-sec{
    display: flex;
    gap: 8%;
}
#me{
    width: 40%;
    height: fit-content;
    border-radius: 10px;
}
#picture-section{
    display: flex;
    align-items: center;
}
.hover-text {
  visibility: hidden;
  font-family: "GT";
  width: 125px;
  background-color: rgb(255, 255, 255);
  border: 1px dashed rgb(146, 146, 146);
  /* color of the tooltip text */
  color: #222222;
  text-align: center;
  border-radius: 8px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.hover:hover .hover-text {
  visibility: visible;
  opacity: 1;
  
}
.hover{
    width: 20%;
}
.picture{
    width: 100%;
    height: auto;
}
i {
  position: absolute;
  width: 4px;
  height: 4px;
  background: var(--random-color);
  pointer-events: none;
  animation: animate 2s linear forwards;
}
@keyframes animate {
  0%
  {
    opacity: 1;
    transform: translate(0,0);
  }
  100%
  {
    opacity: 0;
    transform: translate(var(--x), var(--y));
  }
}

@media screen and (max-width: 768px) {
 #main-sec{
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 #me{
    min-width: 275px;
 }
 #about-area{
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 8%;
 }
 .section {
  margin-left: 4%;
  margin-right: 4%;
}
}