@font-face {
  font-family: "BasisGrotesk";
  src: url("typefaces/BasisGrotesquePro-Light 2.otf");
}
@font-face {
  font-family: "GT";
  src: url("typefaces/GT-Walsheim-Pro-Light.otf");
}
@font-face {
  font-family: "GT-reg";
  src: url("typefaces/GT-Walsheim-Pro-Regular.otf");
}
@font-face {
  font-family: "GT-med";
  src: url("typefaces/GT-Walsheim-Pro-Medium.otf");
}
@font-face {
  font-family: "MonumentGrotesk";
  src: url("typefaces/monument-grotesk-regular.otf");
}
@font-face {
  font-family: "GoodSans";
  src: url("typefaces/GoodSans-Thin.otf");
}
@font-face {
  font-family: "Plaak";
  src: url("typefaces/Plaak-25Light.otf");
}
/* * {
  margin: 0;
  padding: 0;
} */
#website {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
html, body{
  scroll-behavior: smooth;
}
h1 {
  font-size: 44px;
  font-family: "GT";
}
h2 {
  font-size: 20px;
  font-family: "GoodSans";
  color: #474747;
}
h3 {
  font-size: 28px;
  font-family: "GT-med";
  min-width: 150px;
  color: #1e1e1e;
}
h4 {
  font-size: 18px;
  font-family: "BasisGrotesk";
  min-width: 150px;
  color: #474747;
}
h5 {
  font-size: 20px;
  font-family: "MonumentGrotesk";
}
label, button{
  font-size: 14px;
  font-family: "BasisGrotesk";
  line-height: 24px;
}
p,
li,
th, button {
  font-size: 18px;
  font-family: "BasisGrotesk";
  line-height: 30px;
}
hr{
  margin-top: 0em;
  margin-bottom: 0em;
}

.section {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 4%;
}
a{
  color: inherit;
  text-decoration: none;
}
#link:hover{
  color: #8a8a8a;
}
#nav-bar-text{
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5px;
  margin-bottom: 8px;
}
#nav-buttons{
  display: flex;
  gap: 100px;
  /* margin-right: 10%; */
  justify-content: space-evenly;
}
#linkedin-icon{
  width: 18px;
  height:fit-content
}
text {
  font-size: 18px;
  font-family: "GT";
}
#titleArea {
  width:90%;
  margin:auto;
  padding:40px 0;
  /* margin-bottom: 8%; */
}
#photos {
  display: flex;
  margin-top: 4%;
  margin-bottom: 4%;
  gap:10px;
}

.column{
    display: flex;
    flex-direction: column;
    gap:10px;
    min-width: 300px;
}

.photo {
    width:100%;
    height: fit-content;
    border-radius: 5px;
    object-fit: cover;
    transition: filter 1s;
}
.photo:hover:not(:active){
    filter: drop-shadow(0 0 4px rgb(146, 146, 146));
}

@media(max-width:768px){
    #photos{
        flex-direction: column;
    }
}