@font-face {
  font-family: "BasisGrotesk";
  src: url("typefaces/BasisGrotesquePro-Light 2.otf");
}
@font-face {
  font-family: "GT";
  src: url("typefaces/GT-Walsheim-Pro-Light.otf");
}
@font-face {
  font-family: "GT-med";
  src: url("typefaces/GT-Walsheim-Pro-Medium.otf");
}
@font-face {
  font-family: "MonumentGrotesk";
  src: url("typefaces/monument-grotesk-regular.otf");
}
@font-face {
  font-family: "GoodSans";
  src: url("typefaces/GoodSans-Thin.otf");
}

#website {
  display: flex;
  flex-direction: column;
}
html, body{
  scroll-behavior: smooth;
}
p,
li,
th, button {
  font-size: 18px;
  font-family: "BasisGrotesk";
  line-height: 30px;
}
h1 {
  font-size: 44px;
  font-family: "GT";
}
h2 {
  font-size: 20px;
  font-family: "GoodSans";
  color: #474747;
}
h3 {
  font-size: 28px;
  font-family: "GT-med";
  min-width: 150px;
  color: #1e1e1e;
}
h4 {
  font-size: 18px;
  font-family: "BasisGrotesk";
  min-width: 150px;
  color: #474747;
}
h5 {
  font-size: 20px;
  font-family: "MonumentGrotesk";
}
label, button{
  font-size: 14px;
  font-family: "BasisGrotesk";
  line-height: 24px;
}
hr{
  margin-top: 0em;
  margin-bottom: 0em;
}
.important {
  font-family: "GT-med";
  font-weight: bold;
}
.link {
  color: inherit;
  border-bottom: 1px dotted #000;
  text-decoration: none;
}
.link:hover {
  color: #e7436d;
  /* text-decoration: underline; */
}
/* #titleArea{
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 8%-40px;
  padding-top: 40px;
  
} */
@media screen and (max-width: 500px) {
  h1 {
    font-size: 40px;
    font-family: "GT";
  }
  h3 {
    font-size: 24px;
    font-family: "GT-med";
    min-width: 150px;
    color: #1e1e1e;
  }
  p,
  li,
  th, button {
    font-size: 16px;
    font-family: "BasisGrotesk";
    line-height: 26px;
  }
}