@font-face {
  font-family: "BasisGrotesk";
  src: url("typefaces/BasisGrotesquePro-Light 2.otf");
}
@font-face {
  font-family: "GT";
  src: url("typefaces/GT-Walsheim-Pro-Light.otf");
}
@font-face {
  font-family: "GT-reg";
  src: url("typefaces/GT-Walsheim-Pro-Regular.otf");
}
@font-face {
  font-family: "GT-med";
  src: url("typefaces/GT-Walsheim-Pro-Medium.otf");
}
@font-face {
  font-family: "MonumentGrotesk";
  src: url("typefaces/monument-grotesk-regular.otf");
}
@font-face {
  font-family: "GoodSans";
  src: url("typefaces/GoodSans-Thin.otf");
}
@font-face {
  font-family: "Plaak";
  src: url("typefaces/Plaak-25Light.otf");
}

#website {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -10px;
  /* background-color: rgb(247, 244, 242); */
}
html, body{
  scroll-behavior: smooth;
}
h1 {
  font-size: 44px;
  font-family: "GT";
}
h2 {
  font-size: 20px;
  font-family: "GoodSans";
  color: #474747;
}
h3 {
  font-size: 28px;
  font-family: "GT-med";
  min-width: 150px;
  color: #1e1e1e;
}
h4 {
  font-size: 20px;
  font-family: "BasisGrotesk";
  min-width: 150px;
  line-height: 30px;
  color: #474747;
}
h5 {
  font-size: 20px;
  font-family: "MonumentGrotesk";
}
label, button{
  font-size: 14px;
  font-family: "BasisGrotesk";
  line-height: 24px;
}
p,
li,
th, button {
  font-size: 18px;
  font-family: "BasisGrotesk";
  line-height: 30px;
}
hr{
  margin-top: 0em;
  margin-bottom: 0em;
}
li:not(:last-child) {
  margin-bottom: 10px;
}
#title-cont{
  /* background: url("assets/texture.png"); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}
#headingArea {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  /* margin-bottom: 8%; */
}
.section {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 4%;
}
a{
  color: inherit;
  text-decoration: none;
}

#title-curve{
  margin-left: 80px;
  min-width: 270px;
}
#title {
  fill:black;
  font-size: 50px;
  font-family: "GT-reg";
  text-anchor: middle;
  filter: inset 0 0 0 0 #54b3d6;
  transition: fill .3s ease-in-out, filter .3s ease-in-out;
  cursor: auto;
}
/* #title:hover {
  filter: drop-shadow(3px 3px 3px #54b3d6);
  color: rgb(78, 120, 165);
} */
#name:hover{
  filter: drop-shadow(3px 3px 3px #54b3d6);
  color: rgb(78, 120, 165);
}
#main-sec{
  display: flex;
  gap: 5%;
  padding-top: 5vh;
  padding-bottom: 1vh;
}
#bio-cont{
  /* position: absolute;  */
  min-width: 220px;
  /* top: 30vh; 
  left: 100vh; */
  /* margin-right: 10%; */
}
#bio-text{
  
}
#me-sketch{
  width: 35vh;
  /* top: 35vh; 
  left: 30vh; */
  /* position:absolute; */
  min-width: 100px;
  transition: fill .3s ease-in-out, filter .3s ease-in-out;
}
#plane{
  width:50%;
  /* transition: transform .2s; */
}
/* #me-sketch:hover{
  filter: drop-shadow(3px 3px 3px #54b3d6);
} */
#more {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* gap: 5px; */
}
#arrow{
  width: 25px;
  height: fit-content;
}
#about-link{
  display: flex;
  align-items: center;
}
#about-link:hover{
  opacity: 50%;
}
#selected{
  margin-left: 12%;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

#work-section{
  display:flex;
  gap:20px;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}
.column{
  display: flex;
  width: 50%;
  flex-direction: column;
  gap:20px;
  min-width: 300px;
}
.work{
  /* width: 60%; */
  display: flex;
  border-radius: 15px;
  padding: 20px;
  transition: transform .2s;
  cursor: url("assets/eye3.png") 35 30, auto;
}
.work:hover{
  box-shadow: 0 0 10px #d0d0d0;
  transform: scale(1.04);
}
.work:hover .number{
  filter: drop-shadow(3px 3px 3px #54b3d6);
  color: rgb(78, 120, 165);
}
.work-content{
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  cursor: url("assets/eye3.png") 35 30, auto;
}
.work-desc{
  display: flex;
  align-items: center;
  gap: 25px;
}
.project-title{
  margin-bottom: 8px;
  margin-top: 4px;
}
/* .work{
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  gap:5%;
}

.work-content{
  display: flex;
  gap:5%;
  cursor: url("assets/eye3.png") 35 30, auto;
} */
.work-divider{
  margin-left: 8%;
  margin-right: 8%;
}
#warp-vid, #hack-vid {
  width: 100%;
  min-width: 225px;
  border-radius: 15px;
  transition: transform .2s;
}
/* #plane:hover{
  transform: scale(1.05);
} */
#voyage-gif{
  width: 93%;
  height: fit-content;
  padding: 15px;
  min-width: 200px;
  border-radius: 15px;
  /* background-color: #ececec; */
  border: 1.5px solid rgb(229, 229, 229);
  transition: transform .2s;
}

#cloud{
  cursor: move;
  /* z-index: -1; */
  position: absolute;
  width: 30%;
  top: 55%;
  left: 65%;
}
/* i {
  position: absolute;
  width: 4px;
  height: 4px;
  background: var(--random-color);
  pointer-events: none;
  animation: animate 2s linear forwards;
}
@keyframes animate {
  0%
  {
    opacity: 1;
    transform: translate(0,0);
  }
  100%
  {
    opacity: 0;
    transform: translate(var(--x), var(--y));
  }
} */
@media screen and (max-width: 768px) {
  #headingArea{
    margin-top: 10%;
  }
  #title{
    font-size: 36px;
    margin-top: 25px;
  }
  #main-sec{
    flex-direction: column;
  }
  #work-section{
    flex-direction: column;
    align-items: center;
    margin-left: 8%;
    margin-right: 8%;
  }
  .work-content{
    flex-direction: column;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:10px;
    justify-content: center;
  }
  #arrow{
    height: auto;
  }

}
